form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
}

form input,
form button {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px #ffc107;
}

form input:valid {
  border-color: #28a745;
}

form input:invalid {
  border-color: #dc3545;
}

form label {
  flex: 1;
  font-size: 16px;
  margin-bottom: 5px;
}

form button {
  background-color: #ffc107;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #ffca28;
}

form button[type="reset"] {
  background-color: #dc3545;
}

form button[type="reset"]:hover {
  background-color: #e4606d;
}

.button-vert {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.button-vert:hover {
  background-color: #34b058;
}

input {
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px #ffc107;
}

input:valid {
  border-color: #28a745;
}

input:invalid {
  border-color: #dc3545;
}

input[type="submit"],
input[type="button"] {
  background-color: #ffc107;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #ffca28;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  font-style: italic;
  color: #333;
}

button {
  padding: 10px 20px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #ffc107;
  color: white;
}

button:active {
  background-color: #e0a800;
  border-color: #e0a800;
}

button.primary {
  background-color: #ffc107;
  color: white;
}

button.primary:hover {
  background-color: #ffca28;
}

button.danger {
  background-color: #dc3545;
  color: white;
}

button.danger:hover {
  background-color: #e4606d;
}

button.success {
  background-color: #28a745;
  color: white;
}

button.success:hover {
  background-color: #34b058;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li h1 {
  font-size: 24px;
  margin: 0;
}

ul li p {
  margin: 10px 0;
}

ul li h1:first-child {
  font-size: 28px;
  margin-right: 20px;
  color: #ffc107;
}

ul li h1:nth-child(2) {
  font-size: 20px;
  margin-right: 20px;
}

ul li p {
  font-size: 16px;
  color: #333;
}

ul li p strong {
  color: #28a745;
}

ul li:hover {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.stateConteneur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ma-stateConteneur>div:nth-child(2) {
  justify-self: end;
}

.img-and-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
}

.nom-and-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline: 50px;
}

.stateConteneur button {
  height: 64px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.input-text-form label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-text-form input {
  width: 200px;
}

.edit-inpit-div {
  display: flex;
  flex-direction: column;
}

.edit-inpit-div input {
  margin-left: 10px;
}

.edit-inpit-div p {
  margin: 0px;
  margin-left: 10px;
}

.button-prelist {
  padding: 0px;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.button-prelist:hover {
  padding: 0px;
  background-color: transparent;
  border: none;
  color: #ffca28;
  font-weight: bold;
}

.button-prelist p {
  font-size: 30px;
  margin: 20px;
}

.button-prelist div {
  border-radius: 5px;
  height: 500px;
}